body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: black;
  font-weight: normal;
  text-align: left;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}
.button {
  display: inline-block;
  padding: 13px 40px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  background-color: inherit;
}
.hidden {
  display: none;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background-color: white;
}
.page-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.page-header__wrap--top {
  border-bottom: 2px solid #ececec;
}
.page-header__wrap--bottom {
  background-color: #f9f9f9;
}
.page-header__logo {
  margin: auto;
  width: 100px;
}
.page-header__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  border-right: 2px solid #ececec;
  border-left: 2px solid #ececec;
}
.page-header__search-img {
  width: 18px;
  height: 19px;
  margin: auto 32px;
}
.page-header__text--small {
  margin: 0;
  margin-left: auto;
  margin-right: 83px;
  padding: 25px 0;
  font-weight: normal;
  font-size: 15px;
  color: #444444;
}
@media (max-width: 1200px) {
  .page-header__logo {
    margin-left: 50px;
  }
  .page-header {
    max-width: 768px;
  }
}
.main-nav {
  width: 380px;
  margin-left: 100px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
}
.site-list__item {
  text-align: center;
  font-weight: bold;
  width: 185px;
  padding: 25px 0;
}
.site-list__item--bottom {
  padding: 25px 0;
}
@media (max-width: 1200px) {
  .main-nav--bottom {
    display: none;
  }
  .main-nav--top {
    position: absolute;
    top: 90px;
    margin-left: 50px;
  }
}
.basket {
  width: 265px;
  font-weight: bold;
  text-align: right;
  margin-right: 80px;
}
.basket__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.basket__img {
  width: 21px;
  height: 18px;
  padding: 0 31px;
  margin: auto 0;
}
.basket__text {
  margin: 25px 0;
}
.page-main {
  background-image: url("../img/hero-desktop.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .page-main {
    max-width: 768px;
  }
}
.service__title {
  max-width: 620px;
  min-width: 260px;
  margin: 0 auto;
  padding-top: 155px;
  padding-bottom: 355px;
  font-size: 53px;
  line-height: 58.5px;
  text-align: center;
  font-weight: bold;
}
.service__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1050px;
}
.service__item {
  width: 50%;
}
.service__item--interior {
  background-color: #63d1bb;
}
.service__item--toys {
  background-color: #56c3b2;
}
.service__text {
  width: 125px;
  margin: 30px 0;
  margin-left: 36px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}
@media (max-width: 1200px) {
  .service__wrap {
    margin: 0 50px;
  }
  .service__title {
    font-size: 43px;
    line-height: 51.23px;
    padding-bottom: 370px;
  }
}
.sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin: 0 auto;
  padding-top: 130px;
}
.sentence__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 100px;
  z-index: 10;
  margin-top: 27px;
}
.sentence__product-week {
  width: 70px;
  margin-left: 40px;
  margin-right: 64px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #63d1bb;
}
.sentence__title {
  font-weight: bold;
  font-size: 53px;
  margin-top: 0;
  margin-bottom: 60px;
}
.sentence__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sentence__item {
  width: 350px;
  margin-left: 275px;
}
.sentence__text {
  color: #444444;
  line-height: 30px;
  margin: 0;
  margin-bottom: 47px;
}
.sentence__price {
  max-width: 290px;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
}
.sentence__order-week-btn {
  margin-top: 30px;
  padding: 16px 103px;
}
.sentence__img {
  position: relative;
  top: -158px;
  left: 0;
  width: 525px;
}
@media (max-width: 1200px) {
  .sentence {
    padding-top: 60px;
  }
  .sentence__item {
    width: 334px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .sentence__title-wrap {
    position: static;
    margin-left: 50px;
  }
  .sentence__title {
    font-size: 43px;
  }
  .sentence__product-week {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 25px;
    margin-left: 150px;
  }
  .sentence__item {
    margin-left: 50px;
  }
  .sentence__img-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sentence__img {
    position: static;
    width: 400px;
  }
}
.table-parameters {
  color: #444444;
  border-spacing: 0px;
}
.table-parameters__cell {
  width: 95px;
  padding: 8px 0;
  border-bottom: 2px solid #ececec;
}
.table-parameters__cell--width {
  width: 200px;
}
.about-us {
  margin: 0 275px;
}
.about-us__title {
  font-size: 53px;
  margin-top: 65px;
  margin-bottom: 0;
}
.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.about-us__list-item {
  font-size: 20px;
  margin-top: 54px;
  max-width: 350px;
  font-weight: bold;
}
.about-us__list-item:nth-of-type(1) {
  margin-top: 65px;
}
.about-us__item-img {
  width: 33px;
}
@media (max-width: 1200px) {
  .about-us {
    margin: 0 50px;
  }
}
.reviews,
.reviews__title,
.reviews__text,
.reviews__data-autor {
  position: relative;
  z-index: 10;
}
.reviews {
  margin: 0 100px;
  margin-top: 92px;
  background-repeat: no-repeat;
  margin-bottom: 70px;
}
.reviews__img {
  position: absolute;
  top: -80px;
  max-width: 350px;
}
.reviews__title {
  font-size: 53px;
  margin-left: 175px;
}
.reviews__text {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  max-width: 770px;
  margin-bottom: 110px;
  margin-left: 175px;
}
.reviews__data-autor {
  margin-left: 175px;
  margin-top: 52px;
  color: #444444;
}
.reviews__data-autor--bold {
  color: black;
  font-weight: bold;
}
.reviews__btn {
  position: absolute;
  top: -90px;
  right: -105px;
  width: 175px;
}
.reviews__toggle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  bottom: 0;
  right: 0;
}
.reviews__togl-item {
  padding: 0 20px;
  outline: none;
  border: none;
  background-color: transparent;
}
@media (max-width: 1200px) {
  .reviews {
    margin: 0;
  }
  .reviews__title,
  .reviews__text {
    margin-left: 50px;
  }
  .reviews__text {
    margin-right: 50px;
  }
  .reviews__data-autor {
    margin-left: 0;
  }
  .reviews__btn {
    right: -50px;
  }
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
}
.contacts__img-wrap {
  width: 175px;
  margin-left: 100px;
}
.contacts__img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 47px;
  margin-top: 130px;
  margin-left: 63px;
}
.contacts__title {
  font-size: 53px;
  margin-top: 155px;
}
.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__address {
  color: #444444;
  max-width: 350px;
}
.contacts__address-name .contacts__mail {
  margin-top: 60px;
}
.contacts__btn {
  margin-top: 80px;
  bottom: 0;
  left: 0;
}
.contacts__map {
  width: 525px;
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .contacts__img-wrap {
    position: absolute;
    right: 50px;
  }
  .contacts__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 668px;
  }
  .contacts__mail,
  .contacts__address-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 9px;
    width: 337px;
  }
  .contacts__btn {
    position: absolute;
    bottom: 60px;
    left: 270px;
  }
  .contacts__map {
    margin-bottom: 170px;
    width: 768px;
    height: 460px;
  }
}
.page-footer {
  width: 100%;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #f1f1f1;
}
.page-footer__column {
  margin-top: 50px;
  margin-bottom: 50px;
}
.page-footer__column--left {
  margin-left: 50px;
  margin-right: auto;
}
.page-footer__column--middle {
  margin-left: 70px;
}
.page-footer__social-img--inst {
  width: 22px;
}
.page-footer__social-img--fb {
  width: 15px;
  margin: 0 32px;
}
.page-footer__social-img--tw {
  width: 24px;
}
.page-footer__column--right {
  margin-right: 50px;
  margin-left: auto;
}
.page-footer .page-footer__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-footer__text {
  font-weight: bold;
  line-height: 38px;
  text-align: middle;
}
.page-footer__img-dev {
  margin-left: 30px;
  width: 27px;
}
