.about-us {
    margin: 0 auto;

    &__title {
        font-size  : 53px;
        margin-top : 65px;
        margin-left: 175px;
    }

    &__wrap {
        display    : flex;
        margin-left: 175px;
    }

    &__list {
        margin-top: 45px;
        max-width : 350px;
    }

    &__list-item {
        font-size : 20px;
        margin-top: 54px;
        max-width : 210px;
        font-weight: bold;
    }
}