.about-us {
    margin: 0 275px;

    &__title {
        font-size    : 53px;
        margin-top   : 65px;
        margin-bottom: 0;
    }

    &__wrap {
        display    : flex;
        margin: 0 auto;
    }

    &__list-item {
        font-size  : 20px;
        margin-top : 54px;
        max-width  : 350px;
        font-weight: bold;
    }

    &__list-item:nth-of-type(1) {
        margin-top: 65px;
    }

    &__item-img {
        width: 33px;
    }
}

@media (max-width: @desktop-width) {
    .about-us {
        margin: 0 50px;
    }
}