.basket {
    width: 265px;
    font-weight: bold;
    text-align: right;
    margin-right: 80px;
    @media (max-width: @tablet-width) {
        display: none;
    }
    &__field {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: @tablet-width) {
            width: 190px;
            margin: 0;
            position: relative;
        }
    }
    &__img {
        width: 21px;
        height: 18px;
        padding: 0 31px;
        margin: auto 0;
        @media (max-width: @tablet-width) {
            position: absolute;
            top: 50%;
            left: -77px;
            margin-top: -9px;
        }
    }
    &__text {
        margin: 27px 0;
        @media (max-width: @desktop-width) {
            margin: 31px 0;
        }
        @media (max-width: @tablet-width) {
            margin: 28px 0;
        }
    }
}

/*Эксперементы*/

.basket {
    &--active {
        @media (max-width: @tablet-width) {
            display: flex;
            justify-content: center;
            order: 4;
            margin: 0;
            width: 100%;
            max-width: 767px;
            border-top: 2px solid #ececec;
        }
    }
}