.basket {
    width       : 265px;
    font-weight : bold;
    text-align  : right;
    margin-right: 80px;

    @media (max-width: @tablet-width) {
        display: none;
    }

    &__field {
        display: flex;
    }

    &__img {
        width  : 21px;
        height : 18px;
        padding: 0 31px;
        margin : auto 0;

    }

    &__text {
        margin: 27px 0;

        @media (max-width: @desktop-width) {
            margin: 23px 0;
        }
    }
}


/*Эксперементы

.basket { //Класс для навешивания

    @media (max-width: @tablet-width) {
        display  : flex;
        justify-content: center;

        order    : 4;
        margin   : 0;
        width    : 100%;
        max-width: 767px;
        border-top: 2px solid #ececec;
    }

    &__field { //Класс для навешивания
        @media (max-width: @tablet-width) {
            width          : 190px;
            margin         : 0;
            position: relative;

        }
    }

    &__img {  //Класс для навешивания
        @media (max-width: @tablet-width) {
            padding: 28px 25px;
            position: absolute;
            top     : 3px;
            left    : -67px;
        }
    }

    &__text { //Класс для навешивания
        @media (max-width: @tablet-width) {
           text-align: left;
           margin: 28px 0;
        }
    }
}
*/