.main-nav {
    width      : 380px;
    margin-left: 100px;
    order      : -1;

    &__list {
        display       : flex;
        flex-direction: flex-start;
        flex-wrap     : wrap;
        width         : 370px;
    }
}

.site-list__item {
    text-align : center;
    font-weight: bold;
    width      : 185px;
    padding    : 25px 0;

    &--bottom {
        padding: 25px 0;
    }
}

@media (max-width: @desktop-width) {
    .main-nav--bottom {
        display: none;
    }

    .main-nav--top {
        position: absolute;
        top     : 90px;
        margin-left: 50px;
    }

}