.page-header {
    display         : flex;
    flex-direction  : column;
    width           : 100%;
    max-width       : 1250px;
    margin          : 0 auto;
    background-color: white;

    &__wrap {
        display      : flex;
        align-content: stretch;
        align-items  : stretch;
    }

    &__wrap--top {
        border-bottom: 2px solid #ececec;
    }

    &__wrap--bottom {
        background-color: #f9f9f9;
    }

    &__logo {
        margin: auto;
        width : 100px;
    }

    &__search {
        display: flex;
    }

    &__search-box {  
        width         : 85px;
        border-right  : 2px solid #ececec;
        border-left   : 2px solid #ececec;
    }

    &__search-img {
        width  : 18px;
        height : 19px;
        margin: auto 32px;  
    }

    &__text--small {
        margin      : 0;
        margin-left : auto;
        margin-right: 83px;
        padding     : 25px 0;
        font-weight : normal;
        font-size   : 15px;
        color       : #444444;
    }
}

@media (max-width: @desktop-width) {
    .page-header__logo {
        margin-left: 50px;
    }
}