.page-footer {
    width           : 100%;
    max-width       : 1250px;
    display         : flex;
    margin          : 0 auto;
    margin-top      : 70px;
    background-color: #f1f1f1;

    &__column {
        margin-top   : 50px;
        margin-bottom: 50px;
    }

    &__column--left {
        margin-left : 50px;
        margin-right: auto;
    }

    &__column--middle {
        margin-left: 70px;
    }

    &__social-img--inst {
        width: 22px;
    }

    &__social-img--fb {
        width : 15px;
        margin: 0 32px;
    }

    &__social-img--tw {
        width: 24px;
    }

    &__column--right {
        margin-right: 50px;
        margin-left : auto;
    }

    .page-footer__developer {
        display: flex;
    }

    &__text {
        font-weight: bold;
        line-height: 38px;
        text-align : middle;
    }

    &__img-dev {
        margin-left: 30px;
        width      : 27px;
    }
}

@media (max-width: @tablet-width) {
    .page-footer {
        width         : 100%;
        flex-direction: column;
    }

    .page-footer__column {
        width          : 260px;
        margin         : 0 auto;
        margin-top     : 23px;
        padding-bottom : 27px;
        display        : flex;
        justify-content: center;
    }

    .page-footer__column--middle {
        border-bottom: 2px solid #e5e5e5;

    }

    .page-footer__column--left {
        display: none;
    }
}