.reviews,
.reviews__title,
.reviews__text,
.reviews__data-autor {
    position: relative;
    z-index : 10;
}

.reviews {
    margin           : 0 100px;
    margin-top       : 92px;
    background-repeat: no-repeat;
    margin-bottom    : 70px;

    &__img {
        position : absolute;
        top      : -80px;
        max-width: 350px;
    }

    &__title {
        font-size  : 53px;
        margin-left: 175px;
    }

    &__text {
        font-size    : 17px;
        line-height  : 30px;
        color        : #444444;
        max-width    : 770px;
        margin-bottom: 110px;
        margin-left  : 175px;
    }

    &__data-autor {
        margin-left: 175px;
        margin-top : 52px;
        color      : #444444;
    }

    &__autor-name {
        color      : black;
        font-weight: bold;
    }

    &__btn {
        position: absolute;
        top     : -90px;
        right   : -105px;
        width   : 175px;
    }

    &__toggle {
        position: absolute;
        display : flex;
        width   : 175px;
        bottom  : 0;
        right   : 0;
    }

    &__togl-item {
        padding         : 0 20px;
        outline         : none;
        border          : none;
        background-color: transparent;
    }
}

@media (max-width: @desktop-width) {
    .reviews {
        margin: 0;
    }

    .reviews__title,
    .reviews__text {
        margin-left: 50px;
    }

    .reviews__text {
        margin-right: 50px;
    }

    .reviews__data-autor {
        margin-left: 0;
    }

    .reviews__btn {
        right: -50px;
    }
}

@media (max-width: @tablet-width) {
    .reviews {
        margin: 0;
    }

    .reviews__img {
        display: none;
    }

    .reviews__title {
        font-size: 25px;
    }

    .reviews__title,
    .reviews__text {
        margin-left: 35px;
    }

    .reviews__text {
        display       : flex;
        flex-direction: column;
        margin-right  : 35px;

    }

    .reviews__data-autor {
        margin-left: 0;
    }

    .reviews__btn {
        position   : static;
        margin-top : 125px;
        width      : 260px;
    }

    .reviews__toggle {
        bottom: 80px;
        left  : 35px;
        width : 260px;

    }

    .reviews__togl-item {
        padding: 40px;
    }
}