.service {

    &__title {
        max-width     : 620px;
        min-width     : 260px;
        margin        : 0 auto;
        padding-top   : 155px;
        padding-bottom: 355px;
        font-size     : 53px;
        line-height   : 58.5px;
        text-align    : center;
    }

    &__wrap {
        display  : flex;
        margin   : 0 auto;
        max-width: 1050px;
    } 

    &__item {
        width: 50%;
    }

    &__item--interior {
        background-color: #63d1bb;
    }

    &__item--toys {
        background-color: #56c3b2;
    }

    &__text {
        width      : 125px;
        margin     : 30px 0;
        margin-left: 36px;
        font-size  : 20px;
        line-height: 30px;
        font-weight: bold;
        color      : white;
    }
}

@media (max-width: @desktop-width) {
    .service__wrap {
     margin: 0 50px;
    }
  }